<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">



  <div id="wrapper">

    <!-- Sidebar -->
  <ul th:replace="fragments/_sidebar :: sidebar"></ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a th:href="@{/admin}">Admin Dashboard</a>
          </li>
          <li class="breadcrumb-item">
              <a th:href="@{/admin/manage_movies}">Manage Movies</a>
          </li>
          <li class="breadcrumb-item">
              <a th:href="@{/admin/movie_list}">Change Movie Info</a>
          </li>
          <li class="breadcrumb-item active">Edit Movie</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="container">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header">Edit Movie</div>
              <div class="card-body">
                  <form th:action="@{/admin/edit_movie}" th:object="${movie}" method="POST" id="edit_movie_form">
                    <div th:replace="fragments/_message :: message"></div>
                    <input type="hidden" th:field="*{Id}">
                    <div class="form-group">
                      <div class="form-label-group">
                        <input type="text" th:value="${name}" th:field="*{name}"  class="form-control" 
                        required="required">
                        <label for="name">Name of the movie</label>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style=" clear: both; color: #FF1C19;"></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-label-group">
                        <input th:field="*{year}" type="text" class="form-control" >
                        <label>Year</label>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Select the Category:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
  
                                  <select th:field="*{genre}">
                                      <option th:each="genre : ${MovieMaps.genreMap.entrySet()}"
                                              th:value="${genre.key}"
                                              th:text="${genre.value}">
                                      </option>
                                  </select>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <p>Select the Status:</p>
                                </div>
                              </div>
                          <div class="col-md-6">
                              <div class="form-label-group">
                                  <select th:field="*{status}">
                                      <option th:each="stat : ${MovieMaps.statusMap.entrySet()}"
                                              th:value="${stat.key}"
                                              th:text="${stat.value}">
                                      </option>
                                  </select>
                              </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="form-group">
                      <div class="form-label-group">
                        <input th:field="*{cast}" type="text" id="inputCast" class="form-control" 
                          required="required">
                        <label for="inputCast">Cast</label>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="form-label-group">
                        <input th:field="*{director}" type="text" id="inputDirector" class="form-control" 
                          required="required">
                        <label for="inputDirector">Director</label>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="form-label-group">
                        <input th:field="*{producer}" type="text"  class="form-control" 
                          required="required">
                        <label for="inputProducer">Producer</label>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="synopsis">Synopsis</label>
                        <textarea th:field="*{synopsis}" th:value="${synopsis}"  rows = "5" cols = "80" name = "Synopsis"></textarea>
                        <span th:if="${#fields.hasErrors('synopsis')}" style="color: #FF1C19;" th:errors="*{synopsis}"></span>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>MPAA-US Code:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <select th:field="*{rating}">
                                      <option th:each="rating : ${MovieMaps.ratingMap.entrySet()}"
                                              th:value="${rating.key}"
                                              th:text="${rating.value}">
                                      </option>
                                  </select>
                              </div>
                            </div>
                        </div>
                    </div>
  
                    <!-- <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Showtime Date:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group" >
                                  <input type="date"  pname="showtime-date"
                                  value="2019-09-30"
                                  min="2019-09-30" max="2020-09-30">
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <p>Showtime Starting Time:</p>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="time"  pname="start_movie"
                                    min="00:00" max="23:59" required>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-label-group">
                                      <p>Showtime Ending Time:</p>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                      <input type="time"  pname="end_movie"
                                      min="00:00" max="23:59" required>
                                  </div>
                                </div>
                        </div>
                    </div> -->
  
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Movie Duration (mins):</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <input type="number" th:field="*{duration}"  min = "1" required="required">
                              </div>
                            </div>
                        </div>
                    </div>
  
                    <!-- <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Select Hall:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <select>
                                      <option value="Hall1">Hall 1</option>
                                      <option value="Hall2">Hall 2</option>
                                      <option value="Hall3">Hall 3</option>
                                    </select>
                              </div>
                            </div>
                        </div>
                    </div> -->
  
                    <!-- <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Promotion Amount (USD):</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <input type="number" step="0.01" pname="movieDuration" >
                              </div>
                            </div>
                        </div>
                    </div> -->
  
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Choose Trailer Photo URL:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <input type="text" th:field="*{coverImage}">
                              </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <p>Choose Trailer Video URL:</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                  <input type="text" th:field="*{trailerUrl}">
                              </div>
                            </div>
                        </div>
                    </div>
  
                    <button class="btn btn-primary btn-block" type="Submit">Submit</button>
                    <a class="btn btn-primary btn-block" th:href="@{/admin/manage_movies}">Cancel</a>
                  </form>
              </div>
            </div>
          </div>

        </div>



        <!-- DataTables Example -->

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Cinema E Booking 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="submit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            <a class="close" th:href="@{/admin}">Close</a>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="submit" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>