<!-- footer section-->
<footer th:fragment="footer" class="ht-footer">
  <div class="container">
    <div class="flex-parent-ft">
      <div class="flex-child-ft item1">
        <a th:href="@{/}"
          ><img
            class="logo"
            th:src="@{/images/logo1.png}"
            alt=""
            width="119"
            height="58"
        /></a>
        <p>
          200 D.W. Brooks Drive<br />
          Athens, GA 30601
        </p>
        <p>Call us: <a href="#">(+01) 123 123 6789</a></p>
      </div>
      <div class="flex-child-ft item2">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help Center</a></li>
        </ul>
      </div>
      <div class="flex-child-ft item3">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Credit Info Security</a></li>
        </ul>
      </div>
      <div class="flex-child-ft item4">
        <h4>Account</h4>
        <ul>
          <li><a th:href="@{/profile/userprofile}">My Account</a></li>
          <li><a href="#">User Guide</a></li>
        </ul>
      </div>
      <div class="flex-child-ft item5">
        <h4>Promos</h4>
        <p>
          Subscribe to our system now <br />
          to get latest promos from us.
        </p>
        <form action="#">
          <input type="text" placeholder="Enter your email..." />
        </form>
        <a href="#" class="btn"
          >Subscribe now <i class="ion-ios-arrow-forward"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="ft-copyright">
    <div class="backtotop"></div>
    <div class="backtotop">
      <p>
        <a href="#" id="back-to-top"
          >Back to top <i class="ion-ios-arrow-thin-up"></i
        ></a>
      </p>
    </div>
  </div>
</footer>
<!-- end of footer section-->
