<header class="ht-header" th:fragment="header">
  <div class="container">
    <nav class="navbar navbar-default navbar-custom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header logo">
        <div
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <a th:href="@{/}"
          ><img
            class="logo"
            th:src="@{/images/logo1.png}"
            alt=""
            width="119"
            height="58"
        /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse flex-parent"
        id="bs-example-navbar-collapse-1"
      >
        <ul class="nav navbar-nav flex-child-menu menu-left">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
        </ul>

        <ul
          sec:authorize="isAuthenticated()"
          class="nav navbar-nav flex-child-menu menu-right"
        >
          <li><a th:href="@{/movielist}">Movielist</a></li>
          <li>
            <a th:href="@{/profile/userprofile}">
              <span
                th:text="${#authentication.getPrincipal().getUsername()}"
              ></span>
            </a>
          </li>
          <li class="btn"><a href="/logout">Log Out</a></li>
        </ul>

        <ul
          sec:authorize="isAnonymous()"
          class="nav navbar-nav flex-child-menu menu-right"
        >
          <li><a th:href="@{/movielist}">Movielist</a></li>
          <li class="loginLink"><a href="#">LOG In</a></li>
          <li class="btn signupLink"><a href="#">sign up</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

    <!-- top search form -->
    <form class="top-search" th:action="@{/search}" method="GET">
      <select class="search-form" name="searchparam">
        <option value="1">Title</option>
        <option value="2">Category</option>
        <option value="3">Coming Soon</option>
        <option value="4">Now Showing</option>
      </select>
      <input
        name="keyword"
        type="text"
        placeholder="Search for a movie, By name, Category"
      />
      <button
        style="background-color: transparent; outline: none; border: none; color: white;
          line-height: 100%; display: block;"
        type="submit"
      >
        Search
      </button>
    </form>
    <!-- <select>
          <option value="united">Title</option>
          <option value="saab">Showtime</option>
        </select> -->
    <!-- <form th:action="@{/search}" method="POST">
          <input
            type="text"
            name="keyword"
            placeholder="Search for a movie, By name, Showtime"
          />
          <button style="padding-left:50em" type="submit" value="Search">
            Search
          </button>
        </form> -->
    <!-- top search form -->
  </div>
</header>
