<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Basic need -->
    <title>Cinema Booking</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="profile" href="#" />

    <!--Google Font-->
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600"
    />
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone-no" />

    <!-- CSS files -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" th:src="@{/images/logo1.png}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
    <header th:replace="fragments/_header :: header"></header>
    <!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>[[${user.name}]]'s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a th:href="@{/}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img th:src="@{/images/uploads/user-img.png}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li  class="active"><a th:href="@{/profile/userprofile}">Profile</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="#">Change password</a></li>
							<li><a href="#">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form th:action="@{/profile/updateprofile}" class="user" th:object="${user}" method="POST">
						<h4>- Profile details</h4>

						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								<input type="text" th:value="${user.name}" name="name">
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								<input type="text" th:value="${user.LastName}" name="lastName">
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Date of Birth</label>
								<input type="text" th:value="${user.dob}" name="dob">
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								<input type="text" th:value="${user.email}" name="email" disabled>
							</div>
						</div>			
						<div class="row">
								<div class="col-md-6 form-it">
										<label>Address</label>
										<input type="text" th:value="${user.address}" name="address">
									</div>
									<div class="col-md-6 form-it">
											<label>Country</label>
											<input type="text" th:value="${user.country}" name="country">
										</div>
						</div>			
						
						<div class="row">
								<div class="col-md-6 form-it">
										<label>State</label>
										<input type="text" th:value="${user.state}" name="state">
									</div>
						</div>
						<div class="row">
								<div class="col-md-6 form-it">
								
										<label><input style="height: auto !important;" type="checkbox" name="promo" th:checked="${user.promo}"> Receive promos?</label>
									</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>	
					</form>
					<form th:action="@{/profile/updatepassword}" class="password" th:object="${passwdvm}" method="POST">
						<h4>- Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input th:value="${passwdvm.oldPasswd}" name="oldPasswd" placeholder="**********" type="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input th:value="${passwdvm.newPasswd}" name="newPasswd" placeholder="**********" type="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input th:value="${passwdvm.confPasswd}" name="confPasswd" placeholder="**********" type="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>	
					</form>

					<br>
					<br>
					<br>
					<!-- Add Card Form -->
					<form th:action="@{/profile/addcard}" th:object="${card}"  method="POST">
						<h4>Card Details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Name on card</label>
								<input type="text" th:field="*{name}" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Card Number</label>
								<input type="text" th:field="*{cardNumber}" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Expiration Date</label>
								<input type="text" th:field="*{expdate}" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>CVV</label>
								<input type="text" th:field="*{cvv}"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="submit">
							</div>
						</div>
					</form>
					<!-- End of Add Card Form -->
					<br>
					<br>
					<br>
					<!--DataTables Example -->
					<div class="card mb-3">
						<div style="color:white" class="card-header">
							<div th:replace="fragments/_message :: message"></div>
							<i class="fas fa-table"></i>
							Bank Cards
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th style="color:white; font-size:10pt;">Name on card</th>
											<th style="color:white; font-size:10pt;">Card Number</th>
											<th style="color:white; font-size:10pt;">Exp date</th>
										</tr>
									</thead>
									<!-- <tfoot>
										<tr>
											<th style="color:white; font-size:10pt;">Name on card</th>
											<th style="color:white; font-size:10pt;">Card Number</th>
											<th style="color:white; font-size:10pt;">Exp date</th>
										</tr>
									</tfoot> -->
									<tbody>
										<th:block th:each="card : ${carddetails}">
											<tr th:if="${card != null}">
												<td style="color:white" th:text="${card.name}"></td>
												<td style="color:white" th:text="${card.cardNumber}"></td>
												<td style="color:white" th:text="${card.expdate}"></td>
												<td>
												<a style="color:white" th:href="@{'/profile/delete_card/' + ${card.id}}">Delete Card</a></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
    <footer th:replace="fragments/_footer :: footer"></footer>
    <!-- end of footer section-->

<div th:replace="fragments/_scripts :: homeScripts"></div>
</body>

<!-- userprofile14:04-->
</html>